In [1]:
pip install whatstk

Requirement already satisfied: whatstk in c:\users\suga\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: emoji==0.6.0 in c:\users\suga\anaconda3\lib\site-packages (from whatstk) (0.6.0)
Requirement already satisfied: pandas~=1.2.0 in c:\users\suga\anaconda3\lib\site-packages (from whatstk) (1.2.5)
Requirement already satisfied: numpy~=1.19.1 in c:\users\suga\anaconda3\lib\site-packages (from whatstk) (1.19.5)
Requirement already satisfied: seaborn==0.11.1 in c:\users\suga\anaconda3\lib\site-packages (from whatstk) (0.11.1)
Requirement already satisfied: plotly~=4.14.3 in c:\users\suga\anaconda3\lib\site-packages (from whatstk) (4.14.3)
Requirement already satisfied: certifi==2020.12.5 in c:\users\suga\anaconda3\lib\site-packages (from whatstk) (2020.12.5)
Requirement already satisfied: pytz>=2017.3 in c:\users\suga\anaconda3\lib\site-packages (from pandas~=1.2.0->whatstk) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\suga\anaconda3\lib\site-packages (from pandas~=1.2.0->whatstk) (2.8.1)
Requirement already satisfied: scipy>=1.0 in c:\users\suga\anaconda3\lib\site-packages (from seaborn==0.11.1->whatstk) (1.4.1)
Requirement already satisfied: matplotlib>=2.2 in c:\users\suga\anaconda3\lib\site-packages (from seaborn==0.11.1->whatstk) (3.2.2)
Requirement already satisfied: retrying>=1.3.3 in c:\users\suga\anaconda3\lib\site-packages (from plotly~=4.14.3->whatstk) (1.3.3)
Requirement already satisfied: six in c:\users\suga\anaconda3\lib\site-packages (from plotly~=4.14.3->whatstk) (1.15.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\suga\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.1->whatstk) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\suga\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.1->whatstk) (2.4.6)
Requirement already satisfied: cycler>=0.10 in c:\users\suga\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn==0.11.1->whatstk) (0.10.0)
Requirement already satisfied: setuptools in c:\users\suga\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=2.2->seaborn==0.11.1->whatstk) (45.2.0.post20200210)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from whatstk import WhatsAppChat
filepath ="WhatsApp Chat with Silent gangüî•.txt"
chat = WhatsAppChat.from_source(filepath=filepath)
# Chat as Dataframe available in chat.df

In [3]:
chat.df.head()

                 date        username                       message
0 2019-12-07 14:41:00  Rajasekar Mama  https://youtu.be/F6DoD7tambU
1 2019-12-10 20:24:00          Mams‚ù§Ô∏è               <Media omitted>
2 2019-12-10 20:24:00          Mams‚ù§Ô∏è               <Media omitted>
3 2019-12-10 20:24:00          Mams‚ù§Ô∏è               <Media omitted>
4 2019-12-10 20:24:00          Mams‚ù§Ô∏è               <Media omitted>

In [4]:
print(f"Start date: {chat.start_date}\nEnd date: {chat.end_date}")

Start date: 2019-12-07 14:41:00
End date: 2022-07-19 11:52:00

In [5]:
chat.users

['+91 74834 74675',
 '+91 82967 76462',
 '+91 95607 82575',
 '+91 95666 81419',
 'Anish',
 'Arun Chinna Mama',
 'Bhuvana',
 'Inbaraj',
 'Kalai',
 'Mams‚ù§',
 'Mams‚ù§Ô∏è',
 'Nitheesh',
 'Priya akka',
 'Rajasekar Mama',
 'Saraswathi',
 'Shanmugapriya',
 'Vimal Bro',
 'Vishnu']

In [5]:
chat.df.replace(to_replace ="Mams‚ù§Ô∏è",value ="User1", inplace=True)
chat.df.replace(to_replace ="Mams‚ù§",value ="User1", inplace=True)
chat.df.replace(to_replace ="+91 82967 76462",value ="User2", inplace=True)
chat.df.replace(to_replace ="+91 95607 82575",value ="User3", inplace=True)
chat.df.replace(to_replace ="+91 74834 74675",value ="User4", inplace=True)
chat.df.replace(to_replace ="+91 95666 81419",value ="User5", inplace=True)
chat.df.replace(to_replace ="Anish",value ="User6", inplace=True)
chat.df.replace(to_replace ="Arun Chinna Mama",value ="User6", inplace=True)
chat.df.replace(to_replace ="Bhuvana",value ="User7", inplace=True)
chat.df.replace(to_replace ="Inbaraj",value ="User8", inplace=True)
chat.df.replace(to_replace ="Kalai",value ="User9", inplace=True)
chat.df.replace(to_replace ="Nitheesh",value ="User10", inplace=True)
chat.df.replace(to_replace ="Priya akka",value ="User11", inplace=True)
chat.df.replace(to_replace ="Rajasekar Mama",value ="User12", inplace=True)
chat.df.replace(to_replace ="Saraswathi",value ="User13", inplace=True)
chat.df.replace(to_replace ="Shanmugapriya",value ="User14", inplace=True)
chat.df.replace(to_replace ="Vimal Bro",value ="User15", inplace=True)
chat.df.replace(to_replace ="Vishnu",value ="User16", inplace=True)

In [6]:
chat.users

['User1',
 'User10',
 'User11',
 'User12',
 'User13',
 'User14',
 'User15',
 'User16',
 'User2',
 'User3',
 'User4',
 'User5',
 'User6',
 'User7',
 'User8',
 'User9']

In [ ]:
#>>> chat = chat.rename_users({'Mary': ['Maria', 'Maria2']})

In [7]:
chat.df.groupby('username').agg('count').sort_values(by='message', ascending=False)

          date  message
username
User9      494      494
User12     462      462
User2      429      429
User1      394      394
User7      369      369
User11     366      366
User6      355      355
User10     298      298
User13     240      240
User4      195      195
User8      194      194
User15     182      182
User14     181      181
User3      138      138
User16     113      113
User5       15       15

In [8]:
chat.df.groupby(chat.df.date).agg(num_messages=('message', 'count')).sort_values(by='num_messages', ascending=False)

                     num_messages
date
2020-01-03 12:45:00            37
2020-11-07 19:44:00            24
2020-01-25 22:41:00            20
2020-01-06 11:51:00            17
2020-10-17 16:38:00            16
...                           ...
2020-05-16 23:00:00             1
2020-05-17 15:21:00             1
2020-05-17 15:25:00             1
2020-05-17 15:27:00             1
2022-07-19 11:52:00             1

[3223 rows x 1 columns]

In [9]:
# Number of messages sent
from whatstk import FigureBuilder
from plotly.offline import plot
fb = FigureBuilder(chat=chat)
fig = fb.user_interventions_count_linechart(cumulative=True, title='User inteventions count (cumulative)')

In [11]:
# the number of messages sent per user in a day
plot(fig)

'temp-plot.html'

In [12]:
#the counts for all users 
fig = fb.user_interventions_count_linechart(cumulative=True, all_users=True, title='Inteventions count (cumulative)')
plot(fig)

'temp-plot.html'

In [13]:
# Count of characters sent per user
fig = fb.user_interventions_count_linechart(cumulative=True, msg_length=True, title='Count of sent characters (cumulative)')
plot(fig)

'temp-plot.html'

In [15]:
# user interventions over the 24 hours in a day
fig = fb.user_interventions_count_linechart(date_mode='hour', title='User interventions count (hour)',
xlabel='Hour')
plot(fig)

'temp-plot.html'

In [16]:
# user interventions weekly
fig = fb.user_interventions_count_linechart(date_mode='weekday', title='User interventions count (Weekday)',
xlabel='weekday')
plot(fig)

'temp-plot.html'

In [17]:
#user interventions over the 12 months of the year
fig = fb.user_interventions_count_linechart(date_mode='month', title='User interventions count (month)',
xlabel='month')
plot(fig)

'temp-plot.html'

In [20]:
fig = fb.user_msg_length_boxplot()
plot(fig)

'temp-plot.html'

In [21]:
fig = fb.user_message_responses_heatmap()
plot(fig)

'temp-plot.html'

In [22]:
fig = fb.user_message_responses_flow()
plot(fig)

'temp-plot.html'